
<h1>New phone who dis.</h1>
<h2>It me, Kelly Yen.</h2>
<img src="<%=asset_path "headshot.jpg" %>" style="width:304px;height:208px;">

<div id="origin">
	<h3> I am from Cupertino, California </h3>
	<style>
		#origin {
			color:white;
			background-color:green;
			font-weight:bold;
		}
	</style>
</div>
<h3> Junior</h3>

<div id="fun">
	<style>
		#fun {
			color:red;
		}
	</style>
	<h3><b> I eat my cereal dry.<b></h3>
</div>

<div id="excite">
	<style>
		#excite {
			color:violet;
		}
	</style>
	<h3> <u>I am excited to work on cool projects and listen to great lectures from Nhi Quach and Jonathan Chu <u></h3>
</div>


